[submodule "fvkry-be"]
	path = fvkry-be
	url = file:///D:/blockchain/Web3Cohort7/fvkry/fvkry-be
[submodule "fvkry-fe"]
	path = fvkry-fe
	url = file:///D:/blockchain/Web3Cohort7/fvkry/fvkry-fe
[submodule "fvkry-smartcontract"]
	path = fvkry-smartcontract
	url = file:///D:/blockchain/Web3Cohort7/fvkry/fvkry-smartcontract
